.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 1em;
    background: var(--ayp-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
    outline: 1px solid var(--ayp-blue-light--5);
    background-color: rgba(0,0,0,.01);
}

.pagination-container {
    display: flex;
}

.pagination-num:first-child {
    padding-left: 0.687em;
}

.pagination-num {
    padding-right: 0.375em;
    padding-left: 0.375em;

    color: var(--ayp-black-2);
    
    font-size: 1rem;
    line-height: 1.562em;
}

.pagination-num:last-child {
    padding-right: 0.687em;
}

.pagination-num.active {
    color: var(--ayp-blue-light);
}



.box-pagination .swiper-pagination-bullet {
    width: 49px;
    height: 4px;
    border-radius: 0;
    background-color: #F1F1F1;
}

.box-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #FF5E00;
}

.box-pagination .swiper-pagination-bullet:not(:last-child) {
    margin-right: 6px;
}

.swiper-button-prev.box-swiper-button-prev {
    margin-right: 0.312rem;
}

.swiper-button-next.box-swiper-button-next,
.swiper-button-prev.box-swiper-button-prev {
    position: relative;
    margin: 0 0.156rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1.875em;
    height: 1.875em;
    border: 1px solid #1E73BE;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.swiper-button-next.box-swiper-button-next::after,
.swiper-button-prev.box-swiper-button-prev::after {
    font-size: 0.8125em;
}


@media (max-width: 900px) {
    .box-pagination .swiper-pagination-bullet {
        width: 30px;
        height: 4px;
    }
}