html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb {
background-color: var(--ayp-blue-light);
outline: 1px solid slategrey;
}

input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.01);
}

.text-center {
    text-align: center;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.img-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

img {
    max-width: 100%;
}

svg {
    max-width: 100%;
    max-height: 100%;
}

.container,
.--inner .container {
    width: 82.1875%;
    margin: 0 auto;
}

#container {
    width: 82.1875%;
    margin: 0 auto;
}

.title-container {
    width: 74.68%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.title-container.--full {
    width: 100%;
}

.pagination-container.--bottom {
    justify-content: flex-end;
}

.box-title {
    font-size: clamp(18px, 1.75rem, 1.75rem);
    font-weight: 400;
    line-height: 1.535em;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    margin-bottom: 0.562rem;
    white-space: nowrap;
}

.box-title.box-title_medium {
    font-size: clamp(16px, 1.562rem, 1.562rem);
    line-height: 1.56em;
}

.box-title.box-title_small {
    font-size: clamp(14px, 1.125rem, 1.125rem);
    line-height: 1.555em;
}


.box-title.box-title_support {
    margin-top: 1.5em;
}

.box-sub {
    font-size: clamp(12px, 1rem, 1rem);
    font-weight: 400;
    line-height: 1.562em;
    color: var(--ayp-black)0;
    margin-right: 4.25em;
    margin-bottom: 1em;
    display: block;
    text-transform: capitalize;
}

.title-inner-container {
    display: flex;
    align-items: flex-start;
    // margin-bottom: 5px;
}

.title-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    max-width: 100%;
    overflow-x: auto;
}

.title-item-a {
    font-size: clamp(12px, 1rem, 1rem);
    font-weight: 400;
    line-height: 1.562em;
    color: var(--ayp-black);
    padding: 0.562em 1.562em 0.812em 1.562em;
    display: block;
    text-transform: capitalize;
    white-space: nowrap;
    border-bottom: solid 3px transparent;
    transition: 300ms;
}

.title-item-a_last {
    margin-right: 2.687rem;
}

.title-item-a.active,
.title-item-a:hover {
    color: var(--ayp-blue-light);
    border-bottom: solid 3px var(--ayp-blue-light);
}

.box-pagination-container {
    margin-top: 3.125em;
    width: 74.68%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    .title-container {
        width: 100%;
    }

    .box-pagination-container {
        width: 100%;
    }

    .box-sub {
        margin-right: 0;
    }
}

@media only screen and (max-width:676px) {
    .container {
        width: 100%;
        padding: 0 20px
    }

    #container {
        width: 100%;
        padding: 0 20px
    }

    body.active-menu {
        overflow: hidden;
        touch-action: none;
        -ms-touch-action: none;
    }

    .title-inner-container_withMenu {
        width: 100%;
    }

    .title-list::-webkit-scrollbar {
        height: 4px;
        background-color: #C1C1C1;
    }

    .title-list {
        margin-right: 10px;
    }
}

@media only screen and (max-width:676px) {
    .title-container_withMenu {
        flex-direction: column;
        align-items: flex-start;
    }
}