.audio {
    font-size: clamp(14px, 1rem, 1rem);
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    z-index: 20;

    background-color: var(--ayp-blue-dark);
}

.audio__container {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 55%;
    // margin: 0 auto;
    padding: 0.5em 0;    
}

.audio__audio {
    display: none;
}

.audio__buttons-container {
    display: flex;
}

.audio__left-btn,
.audio__right-btn {
    display: none;
}

.audio__play-btn {
    position: relative;
    display: block;
    width: 2.5em;
    margin-right: 3.125em;
    border: none;
    cursor: pointer;

    background-color: transparent;
}

.audio__play-btn::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.audio__play-btn svg {
    fill: var(--ayp-orange);
}

.audio__play-btn svg use {
    transition: fill 300ms;
}

.audio__player {
    display: flex;
    align-items: center;
    width: 79.714%;
    flex-shrink: 0;
}

.audio__time {
    font-size: 0.875em;
    line-height: 1.571em;
    width: 2.542rem;
    flex-shrink: 0;
}

.audio__time-current {
    color: var(--ayp-orange);
}

.audio__time-total {
    color: var(--ayp-gray-2);
}

// .audio__line {
//     position: relative;

    

//     background-color: var(--ayp-gray-light-3);
// }

.audio__right {
    display: flex;

    width: 37.239%;
}

.audio__progress {    
    display: block;
    position: relative;
    z-index: 2;
    flex-grow: 1;
    height: 2px;
    margin: 0 0.625rem;
    background-color: var(--ayp-orange);
    -webkit-appearance: none;
}

.audio__progress::-webkit-slider-thumb {  
    -webkit-appearance: none; 
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: var(--ayp-orange);
    cursor: pointer;
}

.audio__progress::-ms-track {
    // -webkit-appearance: none; 
    background-color: var(--ayp-gray-light-3);
    border-color: transparent;
    color: transparent;
}

.audio__progress:focus {
    background-color: var(--ayp-orange);
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

// .audio__progress::after {    
//     content: '';
//     position: absolute;
//     top: 50%;
//     right: 0;
//     transform: translateY(-50%);

//     height: 0.625rem;
//     width: 0.625rem;
//     border-radius: 100%;

//     background-color: var(--ayp-orange);
//     cursor: pointer;
// }

.audio__voice {
    display: flex;
    align-items: center;
    margin-left: 3%;
    flex-grow: 1;
}

.audio__voice-icon {
    position: relative;
    width: 1.187em;
    flex-shrink: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.audio__voice-icon::before {
    content: '';
    display: block;
    padding-top: 95%;
}

.audio__voice-icon svg {
    fill: var(--ayp-orange);
}

.audio__voice-progress {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    margin-left: 0.843rem;

    -webkit-appearance: none;
    background-color: var(--ayp-orange);
}

.audio__voice-progress::-webkit-slider-thumb {  
    -webkit-appearance: none; 
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: var(--ayp-orange);
}

.audio__voice-progress::-ms-track {
    // -webkit-appearance: none; 
    background-color: var(--ayp-gray-light-3);
    border-color: transparent;
    color: transparent;
}

.audio__voice-progress:focus {
    background-color: var(--ayp-orange);
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

// .audio__voice-controller {
//     position: absolute;
//     top: 50%;
//     left: 0;
//     transform: translateY(-50%);

//     height: 0.625rem;
//     width: 0.625rem;
//     border-radius: 100%;

//     background-color: var(--ayp-orange);
//     cursor: pointer;
// }

.audio__cover {
    display: flex;
    align-items: center;
    margin-left: 4.343rem;
}

.audio__cover-img {
    position: relative;
    width: 3.375em;
    margin-right: 0.937em;
}

.audio__cover-img::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.audio__cover-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.audio__cover-song {
    color: var(--ayp-gray-light-2);

    font-size: 1.062em;
    font-weight: bold;
    line-height: 1.588em;
    text-transform: capitalize;
    white-space: nowrap;
}

.audio__cover-singer {
    color: var(--ayp-gray-dark-2);

    font-size: 0.875em;
    line-height: 1.571em;
    text-transform: capitalize;
}

@media (max-width:1200px) {
    .audio__voice {
        width: 11%;
    }
}

@media (max-width: 1080px) {
    .audio {
        font-size: clamp(12px, 1rem, 1rem);
    }
}

@media (max-width: 667px) {
    .audio__left-btn,
    .audio__right-btn {
        display: block;
        background-color: transparent;
        border: none;
    }
    
    .audio__left-btn svg,
    .audio__right-btn svg {
        fill: var(--ayp-orange);
        stroke: var(--ayp-orange);
    }
    
    
    .audio__left-btn,
    .audio__right-btn {
        position: relative;
        width: 1.642em;
    }
    
    .audio__left-btn::before,
    .audio__right-btn::before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    .audio__player {
        width: unset;
    }
    
    .audio__cover {
        order: 1;
        margin: 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .audio__cover-song {
        font-size: 0.8em;
        max-width: 9rem;
        overflow: hidden;
    }

    .audio__cover-singer {
        max-width: 9rem;
        overflow: hidden;
    }
    
    .audio__cover-img {
        display: none;
    }
    
    .audio__buttons-container {
        order: 2;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .audio__right {
        display: flex;
        justify-content: center;
        width: 100%;
        order: 3;
    }

    .audio__play-btn {
        margin: 0 0.928em;
    }

    .audio__progress {
        display: none;
    }

    .audio__time-total {
        display: none;
    }

    .audio__time-current {
        margin-right: 1.2em;
    }

    .audio__voice {
        order: 4;
        width: auto;
        flex-grow: unset;
    }

    .audio__voice-progress {
        display: none;
    }
}