.header__info {
    width: 100%;
    background: url(../../img/header/1@2x.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    padding: 7.685rem 0 10.39rem;;

    &_custom {
        padding: 3.137rem 0 0.875rem;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--ayp-black--62);
    }
}

.header__info-inner {
    position: relative;
    z-index: 2;
}

.header__info_custom {
    font-size: clamp(12px, 1rem, 1rem);
    padding: 1.68em 0 1.68em;
    background-position: center;
}

.header__title {
    text-transform: uppercase;
    font-size: clamp(35px, 6.25rem, 6.25rem);
    font-weight: bold;
    line-height: 1.56em;
    letter-spacing: .019em;
    text-align: center;

    color: var(--ayp-white);

    z-index: 2;
}

.header__sub {
    width: 60%;
    margin-top: -0.5em;
    text-transform: uppercase;
    font-size: clamp(20px, 3rem, 3rem);
    font-weight: bold;
    line-height: 1.562em;
    letter-spacing: 0.039em;
    color: var(--ayp-white);
    z-index: 2;
}

.header__info_custom .header__sub {
    text-align: start;
    width: 82.1875%;
    margin: 0 auto;
    font-size: clamp(22px, 3.5rem, 3.5rem);
    line-height: 1.553em;
    letter-spacing: 0.017em;
}

.header__sub--blue {
    color: #1E73BE;
}

.header__sub--orange {
    color: #FF5E00;
}

@media only screen and(max-width: 667px) {
    .header__info_custom .header__sub {
        margin-left: 20px;
        padding-left: 0;
        padding-right: 0;
    }
}