.nav__container {
    background: var(--ayp-blue-dark);
}

.nav__inner {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(1.8rem);
}

.logo__a {
    display: block;
    width: 26.0456%;
    padding: .875rem 0
}

.logo {
    width: 100%;
    height: auto;
}

.nav__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
}

.nav__container-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
}

.nav__top {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 1.312rem;
}

.nav__top-a {
    font-size: .875rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: var(--ayp-white);
}

.nav__top-a.--follow {
    margin-right: 0.562rem;
}

.nav__top-item {
    display: flex;
    align-items: center;
}

.nav__top-img-container {
    position: relative;
    display: block;
    width: 1.312rem;
    min-width: 16px;
}

.nav__top-img-container::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.nav__top-img-container svg {
    fill: var(--ayp-white);
}

.nav__top-img-container.--tel {
    position: relative;
    width: 1rem;
    min-width: 14px;
    margin-right: 0.643rem;
}

.nav__top-social-icons {
    display: flex;
    flex-direction: row;
}

.nav__top-img-container.--tel::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.nav__top-img-container.--tel svg {
    fill: var(--ayp-white);
}

.nav__top-img-container:not(:last-child) {
    margin-right: .5rem;
}

.nav__top-left img {
    margin-right: 0.562rem;
}

.nav__top-item:not(:last-child) {
    margin-right: 2.5rem;
}

.logo__container{
    position: relative;
    display: block;
    width: 25.687rem;
    min-width: 220px;
    margin: 1em 0;
    font-size: 1rem;
}

.logo__container::before {
    content: '';
    display: block;
    padding-top: 21.897%;
}

.nav__logo {
    max-width: 100%;
    max-height: 100%;
}

.nav {
    display: flex;
    list-style-type: none;
}

.nav__item {
    box-sizing: content-box;
}

.nav__a {
    color: var(--ayp-white);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.562em;
    padding: 0 1.562em 0.875em;
    display: block;
    border-bottom: solid 4px var(--ayp-blue-dark);
    white-space: nowrap;
    transition: 300ms;
}

.nav__a.active {
    border-bottom: solid 4px var(--ayp-blue-light);
}

.nav__a:hover {
    border-bottom: solid 4px var(--ayp-blue-light--5);
}

.nav__btn-label {
    display: block;
    width: 33px;
}

.nav__btn-line {
    display: block;
    font-size: 1rem;
    width: 2.062em;
    height: 0.25em;
    margin-bottom: 0.312em;
    position: relative;

    // transform-origin: 4px 0px;
  
    transition: transform 0.6s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.6s ease;

    background-color: var(--ayp-white);
    border-radius: 0.187rem;
}

// .nav__btn-line:first-child {
//     transform-origin: 0% 0%;
// }

// .nav__btn-check:checked~.nav__btn-line{
//     opacity: 1;
//     transform: rotate(45deg) translate(-2px, -1px);
//     background: #232323;
// }

.nav__btn-line:nth-child(1) {
    transform: rotate(-360deg);
}

.nav__btn-line:nth-child(3) {
    transform: rotate(360deg);
}

.nav__btn-check:checked~.nav__btn-label .nav__btn-line:nth-child(2) {
    display: none;
}

.nav__btn-check:checked~.nav__btn-label .nav__btn-line:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(-45deg);
    margin-bottom: 0;
}

.nav__btn-check:checked~.nav__btn-label .nav__btn-line:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(45deg);
    margin-bottom: 0;

}

.nav__btn-check {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: 100%;
    width: 100%;
}

.nav__check {
    background-color: transparent;
}

.nav__burger-btn-container {
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
}

@media only screen and (max-width: 900px) {
    body.active-menu {
        overflow-y: hidden;
        touch-action: none;

    }

    .nav__container {
        position: relative;
        z-index: 20;
    }

    .nav__inner {
        width: 100%;
        transform: translateX(0);
    }

    .logo__a {
        padding: 2.875em;
    }

    .nav__container-inner {
        position: absolute;
        bottom: 0;
        left: -100%;
        right: 0;
        height: calc(100vh - 4.764rem);
        overflow-y: auto;
        width: 100%;
        background-color: rgba(0,0,0,.8);
        z-index: -1;
        align-items: center;
        padding: 30px 0;
        transition: all 300ms ease;
        transform: translateY(99.7%);
    }    

    .nav__container-inner.active {
        left: 0;
        z-index: 10;
    }

    .nav {
        order: 1;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .nav__a {
        border-bottom: 4px solid transparent;
        padding-bottom: 0.2em;
    }

    .nav__item:not(:last-child) {
        margin-bottom: 2rem;
    }

    .nav__top {
        order: 2;
        flex-direction: column;
        align-items: center;
    }

    .nav__top-item:not(:last-child) {
        margin: 0 0 1rem;
    }

    .nav__container-inner.active {
        left: 0;
    }

    .nav__burger-btn-container {
        display: block;
    }

    .nav__top-icons {
        flex-direction: column;
        align-items: center;
    }

    .nav__top-item:not(:last-child) {
        margin-bottom: 2rem;
    }

    .nav__top-a.--follow {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .nav__top-img-container:not(:last-child) {
        margin-right: 1rem;
    }

    .logo__container {
        max-width: 250px;
    }
}

@media (max-width: 414px) {
    .logo__container {
        max-width: 220px;
    }
}
