.search {
    width: 100%;
    padding: 5.1875rem 0 4.6875rem;
}

.search__form {    
    width: 31.25%;
    margin: 0 auto;
}

.search__label {
    position: relative;
    display: block;

    width: 100%;
}

.search__input {
    display: block;
    
    width: 100%;
    margin: 0 auto;
    padding: 0.857em 2.142em 0.857em 1.142em;

    background-color: var(--ayp-gray);
    border: none;
    outline: none;

    font-size: clamp(12px, 0.875rem, 0.875rem);
    font-weight: 400;
    line-height: 1.571em;    
}

.search__icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 0.962rem;

    width: 1.428rem;
    min-width: 15px;
    border: none;
    
    background-color: transparent;

    transform: translateY(-50%);    
}

.search__icon::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.search__icon svg {
    fill: var(--ayp-black-3);
}


@media only screen and (max-width: 900px) {
    .search__form {
        width: 44.25%;
    }
}

@media only screen and (max-width: 667px) {
    .search__form {
        width: 56.25%;
    }
}

@media only screen and (max-width: 414px) {
    .search__form {
        width: 74.25%;
    }
}

