

.contact__container {
    margin: 5.875rem auto 0;
}

.title-container_contact {
    margin-top: 3.125rem;
}

.contact__map-container {
    display: flex;
    align-items: stretch;

    margin-top: 2.375rem;
}

.contact__card-box {
    width: 24.841%;
    min-width: 250px;
    font-size: clamp(13px, 1rem, 1rem);
    padding: 2.437em 2.218em 1.062em;

    background-color: var(--ayp-blue-dark);
}

.contact__card-logo-box {
    position: relative;

    width: 100%;
    margin-bottom: 1.875rem;
}

.contact__card-logo-box::before {
    content: '';
    display: block;
    padding-top: 22.8%;
}

.contact__card-text {
    color: var(--ayp-white);

    font-size: clamp(14px, 1.062rem, 1.062rem);
    font-weight: 400;
    line-height: 1.588em;
    text-align: center;
}

.contact__card-text_bold {
    color: var(--ayp-blue-light);
}

.contact__map-box {
    position: relative;
    width: calc(100% - 24.841%);
}

.contact__map-box::before {
    content: '';
    display: block;
    padding-top: 40.706%;
}

.contact__map-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;

    width: 100%;
    height: 100%;
}

.contact__form-container {
    display: flex;
    justify-content: center;
    font-size: clamp(12px, 1rem, 1rem);

    width: 64.797%;
    margin: 2.25em auto 9.218em;
}

.contact__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.875rem 4.75rem 2.156rem 3.168rem;

    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.21); 
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.21); 
}

.contact__form-title {
    margin-bottom: 0.4em;

    color: #FF5E00;

    font-size: clamp(14px, 1.25rem, 1.25rem);
    font-weight: bold;
    line-height: 1.6em;
}

.contact__form-row {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.375em;
}

.contact__block {
    display: flex;
    width: 100%;
}

.contact__block.contact__block_half {
    width: 50%;
}

.contact__label {
    display: flex;
    width: 100%;
}

.contact__label-radio {
    display: flex;
    align-items: center;
}

.contact__label-radio_in {
    position: relative;

    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.contact__input,
.contact__select {
    display: block;
    width: 100%;
    border: 1px solid #707070;
}


.contact__input-radio {
    font-size: clamp(10px, 1rem , 1rem);
    opacity: 0;
    margin-right: 0.5em;
    height: 1.238em;
    width: 1.238em;
}

.contact__custom-radio-container {
    display: flex;
}

.contact__input-radio:checked ~ .custom-radio .custom-radio-inner {
    opacity: 100%;
    background-color: black;
}

.custom-radio {
    font-size: clamp(10px, 1rem , 1rem);
    
    position: absolute;
    left:0;
    top: 0;
    bottom: 0;
    display: block;
    transition: 300ms;

    height: 1.238em;
    width: 1.238em;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    border: 1px solid black;
}

.custom-radio-inner {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    height: 47.368%;
    width: 47.368%;
    margin: auto;

    border-radius: 100%;
    transition: 300ms;
}

.contact__label-text {
    display: block;

    color: var(--ayp-blue-dark);

    font-size: clamp(12px, 1.062rem, 1.062rem);
    font-weight: bold;
    line-height: 1.588em;
}

.contact__label_message .contact__label-text {
    margin-bottom: 0.875rem;
}

.contact__label-text_big {
    min-width: 4.823em;
}

.contact__label-text_small {
    min-width: 4.411em;
}

.contact__label_message {
    flex-direction: column;
}

.contact__block .contact__input {
    width: 100%;
}

.contact__input_mail {
    margin-right: 2.356rem;
}

.contact__textarea-container {
    position: relative;
    width: 100%;
}

.contact__textarea-container::before {
    content: '';
    display: block;
    padding-top: 24.98%;
}

.contact__textarea {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border: 1px solid rgba(112, 112, 112, .1);

    resize: none;
}

.contact__desc {
    color: #7B7B7B;

    font-size: clamp(12px, 0.937rem, 0.937rem);
    font-weight: bold;
    line-height: 1.533em;
}

.contact__desc_red {
    color: #B50500;
}

.contact__form-captcha {
    margin: -2rem auto 0.95rem;
    display: none;
}

.contact__form-btn {
    display: block;

    margin: 0 auto;
    padding: 1.125em 5.395em;
    border: none;

    background-color: #FF5E00;
    color: var(--ayp-white);

    font-size: clamp(8px, 0.75rem, 0.75rem);
    font-weight: bold;
    line-height: 1.583em;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 900px) {
    .contact__form-row {
        flex-direction: column;
        margin: 0;
    }

    .contact__label {
        width: 100%;
    }

    .contact__label-radio {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact__label-text_big,
    .contact__label-text_small {
        min-width: 4.823em;
    }

    .contact__block.contact__block_half {
        width: 100%;
    }

    .contact__input_mail {
        margin-right: 0;
    }

    .contact__block {
        margin-bottom: 2rem;
    }
}

@media (max-width: 676px) {
    .contact__map-container {
        flex-direction: column;
    }

    .contact__card-box {
        width: 100%;
    }

    .contact__card-logo-box {
        width: 80%;
        margin: 0 auto 2rem;
    }

    .contact__map-box {
        width: 100%;
    }
}

@media (max-width: 414px) {
    .contact__label {
        flex-direction: column;
    }

    .contact__label-text {
        margin-bottom: .5rem;
    }
}