.prog__table {
    display: flex;
    flex-direction: column;
}

.prog__col {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.prog__row.prog__row_header {
    display: flex;

    width: 100%;
    padding-top: 0.304em;
    padding-bottom: 0.521em;

    background-color: var(--ayp-blue-dark);
    color: var(--ayp-white);

    font-size: 1.437rem;
    line-height: 1.565em;
}

.prog__row_header .prog__col {
    border-right: 2px solid var(--ayp-gray-darker);
}

.prog__row_header .prog__col_name {
    padding-left: 2.13em;
    padding-right: 0.434em;
    width: 29.277%;
}

.prog__row_header .prog__col_theme {
    padding-left: 1.108em;
    padding-right: 0.434em;
}

.prog__row_header .prog__col_brogast {
    padding-left: 0.717em;
    padding-right: 0.434em;
}

.prog__row_header .prog__col_vol {
    padding-left: 0.586em;
    padding-right: 0.434em;
}

.prog__row.prog__row_def {
    display: flex;
    position: relative;

    width: 100%;
    padding-top: 1.105em;
    padding-bottom: 1.105em;

    color: var(--ayp-black-2);

    font-size: 1.187rem;
    line-height: 1.526em;
}

.prog__drop-box {
    display: flex;
    flex-grow: 1;
}

.prog__drop-box .prog__col.prog__col_theme {
    width: 45%;
}

.prog__drop-box .prog__col.prog__col_brogast {
    width: 41%;
}

.prog__check {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.prog__row_def .prog__col_name {
    padding-left: 2.578em;
    padding-right: 0.526em;

    color: var(--ayp-blue-light);
}

.prog__row_def .prog__col_theme  {
    padding-left: 1.342em;
    padding-right: 0.526em;

    color: var(--ayp-black-2);
}

.prog__row_def .prog__col_brogast {
    padding-left: 0.763em;
    padding-right: 0.526em;
    
    color: var(--ayp-black-2);
}

.prog__row_def .prog__col_vol {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2.236em;
    padding-right: 0.526em;
}

.prog__row.prog__row_def:nth-child(2n + 2) {
    background-color: var(--ayp-blue-dark--06);
}

.prog__header-box {
    flex-shrink: 0;
    width: 29.277%;
}

.prog__check-container {
    display: none;
    transition: 300ms;
}

.prog__col_name {
    flex-shrink: 0;
}

.prog__col_theme {
    width: 31.812%;
    flex-shrink: 0;
}

.prog__col_brogast {
    width: 29.214%;
    flex-shrink: 0;
}

.prog__col_vol {
    width: max-content;
    flex-grow: 1;
}

.prog__vol-icon {
    position: relative;
    display: block;
    cursor: pointer;

    width: 1.75rem;
    border: none;

    background-color: transparent;
}

.prog__vol-icon::before {
    content: '';
    display: block;
    padding-top: 103.5%;
}

.prog__vol-icon svg {
    fill: var(--ayp-orange);
}


@media (max-width: 1080px) {
    .prog__row.prog__row_header {
        display: none;
    }

    .prog__row.prog__row_def:nth-child(2n + 2) {
        background-color: var(--ayp-white);
    }

    .prog__row {
        position: relative;
        border-bottom: 2px solid var(--ayp-gray-3);
    }

    .prog__row_def.prog__row {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
    }

    .prog__row_def.prog__row .prog__col {
        font-size: 1.583rem;
    }

    .prog__row_def.prog__row .prog__col_theme,
    .prog__row_def.prog__row .prog__col_brogast {
        position: relative;
        padding-top: 2.25rem;
    }

    .prog__row_def.prog__row .prog__col_vol {
        position: relative;
        padding-left: 10.233rem;
    }

    .prog__row_def.prog__row .prog__col_vol::before {
        content: 'Archives :';
        position: absolute;
        bottom: 0;
        left: 1.983rem;
        color: var(--ayp-blue-light);

        font-size: 1.5rem;
        font-weight: bold;
    }

    .prog__row_def.prog__row .prog__col_theme::before {
        content: 'Thèmes :';
        display: block;
        position: absolute;
        top: 0;
        left: 1.983rem;
        color: var(--ayp-blue-light);

        font-size: 1.5rem;
        font-weight: bold;
    }

    .prog__row_def.prog__row .prog__col_brogast::before {
        content: 'Jour De Diffusion :';
        display: block;
        position: absolute;
        top: 0;
        left: 1.766rem;
        color: var(--ayp-blue-light);

        font-size: 1.5rem;
        font-weight: bold;
    }

    .prog__check-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        height: 2.583rem;
        width: 2.583rem;
        border-radius: 0.375rem;
        border: 1px solid var(--ayp-gray-lighter);
        margin-right: 1.15rem;

        background-color: transparent;
        color: var(--ayp-orange);
    }

    .prog__check-icon {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
    }

    .prog__check-icon svg {
        fill: var(--ayp-orange);
    }

    .prog__header-box {
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
        padding-bottom: 1.1rem;

        width: 100%;
    }

    .prog__col.prog__col_name {
        position: relative;
        z-index: 2;
        padding-left: 0.905em;
        font-weight: bold;
        width: min-content;
        flex-grow: 1;
        white-space: initial;
    }

    .prog__col.prog__col_theme,
    .prog__col.prog__col_brogast,
    .prog__col.prog__col_vol {
        padding-left: 1.983rem;
    }

    .prog__drop-box {
        display: none;
    }

    .prog__drop-box .prog__col {
        margin-top: 1.6rem;
    }

    .prog__row .prog__drop-box .prog__col {
        width: 100%;
    }

    .prog__row.active {
        border-bottom: none;
    }

    .prog__row.active .prog__drop-box {
        display: block;
        background-color: var(--ayp-blue-dark--06);
        padding-bottom: 1.89rem;
    }

    .prog__row.active .prog__header-box {
        background-color: var(--ayp-blue-dark);
    }

    .prog__row.active .prog__header-box .prog__col_name {
        color: var(--ayp-white);
    }
}
















// #custom.pagination-container {
//     align-items: center;
// }

// #custom.pagination-container div:first-child,
// #custom.pagination-container a{
//     margin-right: 0.875rem;
// }

// .programms__title-container {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding-bottom: 0.4375rem;
//     border-bottom: 1px solid rgba(0,0,0,0.1);
// }

// // .programms__title {
// //     font-size: 28px;
// //     line-height: 43px;

// //     color: var(--ayp-black-2);
// // }

// .programms__table {
//     width: 100%;
//     border-collapse: collapse;
//     margin: 1.375rem auto;
// }

// .programms__row:nth-child(2n+3) {
//     background-color: var(--ayp-blue-dark--06);
// }

// .programms__row:last-child {
//     border-bottom: 1px solid rgba(0, 0, 0, 0.1);
// }

// .programms__row th {
//     font-size: 1.4375rem;
//     line-height: 2.25rem;
//     text-align: start;
//     text-transform: capitalize;

//     background-color: var(--ayp-blue-dark);
//     color: var(--ayp-white);

//     padding-top: 0.5347rem;
//     padding-bottom: 0.6347rem;
// }

// .programms__row td {
//     display: table-cell;
//     -webkit-line-clamp: 2;
//     -webkit-box-orient: vertical;  
//     overflow: hidden;
// }

// .programms__row td,
// .programms__row td a {
//     font-size: 1.1875rem;
//     line-height: 1.526em;

//     color: var(--ayp-black-2);

//     padding-top: 1.255rem;
//     padding-bottom: 1.255rem;
// }

// .programms__row td {
//     max-height: 5.937rem;
// }

// .programms__row td a {
//     color: #1E73BE;
// }

// .programms__row th:nth-child(1),
// .programms__row td:nth-child(1),
// .programms__row th:nth-child(2),
// .programms__row td:nth-child(2) {
//     width: 29%;
// }

// .programms__row th:nth-child(2),
// .programms__row td:nth-child(2) {
//     width: 32%;
// }

// .programms__row th:nth-child(4),
// .programms__row td:nth-child(4) {
//     width: 10%;
// }

// .programms__title {
//     padding-right: 0.5rem;
// }

// .programms__row .--name {
//     padding-left: 2.878rem;
//     font-weight: bold;
// }

// .programms__row .--desc {
//     padding-left: 1.8421rem;
// }

// .programms__row .--broadcast {
//     padding-left: 0.8684rem;
// }

// .programms__row .--archive {
//     padding-left: 0.7105rem
// }

// .programms__icon {
//     position: relative;

//     height: 1.75rem;
//     width: 1.75rem;
//     margin: 0 auto;
// }

// .programms__icon svg {
//     fill: var(--ayp-orange);
// }

// .programms__item .fa-volume-up {
//     font-size: 1.75rem;
//     color: var(--ayp-orange);
//     transform: translateX(110%);
// }

// .programms__pagination-container {
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
// }

// .programms__pagination-container_bottom {
//     margin-bottom: 3.125rem;
// }

// #--bottom.programms__pagination-container {
//     border-top: 1px solid rgba(0, 0, 0, 0.1);
// }

// .programms__pagination-num {
//     font-size: 1rem;
//     line-height: 1.5625rem;

//     color: var(--ayp-black-2);

//     &.active {
//         color: var(--ayp-blue-light);
//     }
// }

// .fa.arrow-right,
// .fa.arrow-left {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translateY(-50%) translateX(-50%);
//     font-size: 8px;
//     color: var(--ayp-blue-light);
// }

// @media (max-width: 900px) {
//     .programms__row.programms__row_header {
//         display: none;
//     }

//     .programms__row {
//         display: flex;
//         flex-direction: column;

//         border-bottom: 2px solid var(--ayp-gray-3);
//     }

//     .programms__row .--name {
//         width: 100%;
//         padding-top: 0.935rem;
//         padding-right: 1.228rem;
//         padding-bottom: 1.564rem;
//         padding-left: 1.228rem;
//     }

//     .programms__row .--broadcast,
//     .programms__row .--desc,
//     .programms__row .--archive {
//         width: 100%;
//         padding-top: ;
//     }

//     .programms__row:nth-child(2n+3) {
//         background-color: var(--ayp-white);
//     }

//     .programms__icon {
//         margin: 0;
//     }
// }